<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <form action="/api" method="POST" id="add-todo" class="px-5">
        <div class="form-group">
            <label>UserName</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label>Todo Text</label>
            <input type="text" class="form-control" name="text" id="text" placeholder="Enter Text">
        </div>
        <p class="text-center">
            <button class="btn btn-primary">SUBMIT</button>
        </p>
    </form>
    <h3 class="text-center">Here are my todos</h3>
    <div id="todo-list"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>